body{
	margin: 0;
	padding: 0;
	font-family: 'Robot', sans-serif;
	text-align: center;
}
input[type="text"], input[type="password"], input[type="file"]{
	outline: none;
	padding: 20px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border: 1px solid chartreuse#eee;
	margin: 10px auto;
}

input[type="submit"]{
	padding: 10px;
	color: #fff;
	background:#0098cb ;
	width: 320px;
	margin: 10px auto;
	margin-top: 0;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #00b8eb;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }